body{
    background-image: linear-gradient(aqua,green)
}
.col-md-7{
    margin-top: 150px !important;
    background-color: aliceblue;
    padding:20px;

}
input,label{
    margin:10px;
    font-size: 20px;
    font-weight:bold;
}